
/* Your CSS Code here. */
 body {
            font-family: Arial, sans-serif;
        }

        table {
            border-collapse: collapse;
            margin: 40px auto;
            min-width: 400px;
        }

        thead th,
        tbody td {
            border: 1px solid #ddd;
            padding: 8px 12px;
            text-align: center;
        }

        thead {
            background-color: #f4f4f4;
        }

        thead th:first-child,
        tbody td:first-child {
            text-align: left;
        }